* {
	/*border: 1px dotted white;*/
	z-index: 2;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 100;
}

body{
	margin: 0px;
	padding: 0px;
	background-color: #202020;
}

/* Top Navigation Bar Definition */

#topnav {
	margin: 0px;
	padding: 0px;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background-color: #202020;
	position: fixed;
	z-index: 1;
	/*border: 1px solid purple;*/
}

#topnav div {
	display: inline-block;
	height: 40px;
	margin: 0px;
	padding: 0px;
	margin-left: 0px;
	/*border: 1px solid red;*/
}

#topnav p {
	margin: 5px -5px 5px 0px;
	padding: 0px 10px 0px 10px;

	font-family: "Helvetica Neue", sans-serif;
	font-weight: 200;
	font-size: 30px;
	letter-spacing: 1px;
	color: white;

	border-right: 1pt solid white;
	display: inline-block;
}

#topnav a {
	text-decoration: none;
	color: white;
	font-weight: 200;
}

#topnav a:hover {
	color: #00FFCF;
}

#nametag p {
	padding-left: 10px;
}

#topnav:last-child{
	/*border: 3px solid green;*/
}

#topnav p span {
	font-size: 34px;
	font-weight: 200;
}

/* Homepage Specifics */
#headshot{
	margin: auto;
	height: 397px;
	width: 571px;
}

/* Page text style definitions */

h1 {
	margin-top: 40pt;
	margin-bottom: 20pt;

	/* Font Formatting */
	font-family: "Helvetica Neue", sans-serif;
	font-size: 100pt;
	font-weight: 100;
	color: #00FFCF;

	/* Positioning */
	clear both;

	/*border: 1pt solid green;*/

	text-align: center;
}

p {
	margin-top: 0pt;
	padding: 0pt 40pt 0pt 40pt;
/*	border: 1pt solid blue;*/
	line-height: 38pt;
	font-size: 30pt;
	color: white;
	text-align: justify;
}

a {
	text-decoration: none;
	color: #00FFCF;
}

body > ul > li {
	margin: 10px 50px 10px 40px;
	font-size: 16px;
	color: #00FFCF;

	list-style-type: none;
}

li{
	margin: 2px 50px 2px 50px;
	font-size: 16px;
	color: white;

	list-style-type: circle;
}

li span {
	font-weight: 400;
	color: #F0F080; 
}

#headshot {
	text-align: center;
}

p.gform {
	text-align: center;
}

/* News page article formatting */
.news li {
	background-color: #151515;
	color: white;

	list-style-type: none;
	margin: 5px 50px 5px 20px;

	height: 100px;

	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}

.news li:hover {
	background-color: #00FFCF;
}

.news li img {
	width: 100px;
	height: 100px;
	float: left;
}

.news li .title{
	padding: 5pt 0pt 0pt 80pt;
	font-size: 14pt;
	line-height: 15pt;
	margin-bottom: 0pt;
}

.news li .source{
	margin-top: 0pt;
	padding: 0pt 0pt 0pt 80pt;
	font-size: 10pt;
}
